<div class="jumbotron text-center" style="background-color: #AFDDD4;">    
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <form action="/productList" , method="post">
                    <div class="form-group">
                        <label for="productName">Item Name :</label>
                        <input type="text" class="form-control" name="productName" />
                    </div>
                    <div class="form-group">
                        <label for="productSerialNumber">Item Serial Number :</label>
                        <input type="text" class="form-control " name="productSerialNo" />
                    </div>
                    <div class="form-group">
                        <label for="quantity">Quantity Received :</label>
                        <input type="number" class="form-control" name="quantity" />
                    </div>
                    <div class="form-group">
                        <label for="pricePerUnit">Retail Price per Unit :</label>
                        <input type="number" class="form-control" name="pricePerUnit" />
                    </div>
                    <button type="submit" class="btn btn-outline-success">Add Item</button>
                </form>
            </div>
        </div>
    </div>
</div>