<div class="jumbotron text-center" style="background-color: #AFDDD4;">
    <h1 class="display-3">Good Morning, Owner!</h1>
    <p class="lead">Welcome Back to the Management Portal</p>
    <a href="/customer" class="btn btn-dark btn-lg">New Order</a>
</div>